.fullbody{
    width: 100%;
    height: 100%;
}
.header{
    width: 92.7%;
    margin: auto;
    height: 120px;
    border: 3px solid #000000;
    border-radius: 20px;
}
.logo{
    width: 21.7%;
    height: 69%;
    margin: 1.3% 3.2%;
}
.form_bt{
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 16.5528px;
    line-height: 100%;
    background:#439FFF;
    color: white;
    height: 32%;
    padding: 0.92% 1.5%;
    border-radius: 15px;
    gap: 11.82px;   
    position: absolute;
    top: 39%;
    right: 6.7%;
}
.input{
    display: flex;
}
.input_field{
    position: absolute;
    left: 52%;
    top: 28%;
    width: 25.12%;
}
.search_icon{
    position: absolute;
    left: 78.08%;
    top: 45.17%;
}
 lightning-input{
    --slds-c-input-radius-border: 3rem;
    --lwc-heightInput: 36px;
    --lwc-borderWidthThin: 2px;
    --lwc-colorBorderInput: rgb(0, 0, 0);
}
.text{
    display: flex;
    flex-direction: row;
}
.body{
    border: 3px solid #000000;
    border-radius: 20px;
    width: 92.7%;
    height: 527px;
    margin: auto;
    position: relative;
    bottom: 25px;
}
.heading{
    position: absolute;
    width: 115px;
    height: 22px;
    left: 35px;
    top: 23px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 41px;
    color: #212121;
}
.description{
    position: absolute;
    width: 160px;
    height: 21px;
    left: 35px;
    top: 68px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #B5B5C3;
}
.head{
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    color: #B5B5C3;
}
.table{
    position: relative;
    top: 130px;
    box-sizing: border-box;
}
.line{
    height: 2px;
    background: #E5EAEE;;
    width: 96%;
    margin-left: 2%;
}
.table_head{
    position: relative;
    left: 1%;
}
.table_rows{
    height: 360px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    bottom: 58px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.table_row{
    height: 70px;
}
.dashboard{
    width: 8%;
    margin-right: 2%;
    display: flow-root;
}
.preview{
    position: relative;
    left: 3%;
}
.submission{
    position: relative;
    left: 5%;
}
.title{
    width: 7%;
    position: relative;
    display: flex;
    justify-content: center;
    left: 3%;
}
.index{
    width: 2%;
    position: relative;
    left: 3.5%;
}
hr{
    border-top: 2px solid #E5EAEE;
    position: relative;
    bottom: 25px;
    width: 96%;
    margin-left: 2%;
}
.action_div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 0%;
    margin-right: 2%;
}
.action_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.three_div{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background: #F3F6F9;
    border-radius: 6px;
}
.bin{
    width: 20px;
}
.download{
    width: 15px;
}
.pen{
    width: 20px;
}
.status_div{
   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0px;
    margin-right: 1%;
}
.statuss{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 74px;
    height: 26px;
    color: #8950FC;
    background: #EEE5FF;
    border-radius: 6px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 20px;
}
.dashboard_div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard_img{
    width: 15px;
}
.preview_div{
    width: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.preview_img{
    cursor: pointer;
    width: 25px;
}
.submission_div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    width: 0;
}
.title_div{
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    /* position: relative;
    right: 1.2%; */
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    width: 0px;
}
.index_div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 17px;
    line-height: 18px;
}
.red{
    color: #F64E60;
    background: #FFE2E5;
}
@media(max-width:1400px){
    .input_field{
        left: 51%;
    }
    .search_icon{
        left: 77%;
    }   
    .action_div{
        position: relative;
        right: 1%;
        }
}
@media (min-width: 1820px) {
    .title{
        left: 1.5%;
    }
    .submission{
        left: 4%;
    }
.dashboard_div{  
    position: relative;
    right: 1%;
}
}